@import "../../index.scss";

.Container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ItemList {
  padding: 0;
  margin: 0;
}

.ListItem {
  display: block;
  width: 100%;
}

.ListItemBox {
  @extend %flexrow;
  align-items: center;
  padding: $padding;
  cursor: pointer;
  position: relative;
  background-color: $secondary;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  user-select: none;

  &:hover {
    background-color: $primary;
  }

  &.selected {
    border-top-color: $warning;
    border-bottom-color: $warning;

    .Text {
      &:after {
        content: " ";
        width: calc($size / 3 * 4);
        height: calc($size / 3 * 4);
        border-radius: 100%;
        position: absolute;
        top: calc($size / 3 * 2);
        right: calc($size * 3);
        background-color: $warning;
      }
    }
  }

  &.level1 {
    padding-left: calc($size + $padding);
  }

  &.level2 {
    padding-left: calc($size * 2 + $padding);
  }

  &.level3 {
    padding-left: calc($size * 3 + $padding);
  }

  &.level4 {
    padding-left: calc($size * 4 + $padding);
  }
}

.Text {
  color: $font;
  font-weight: 500;
}

.Control {
  width: calc($size / 3 * 4);
  height: calc($size / 3 * 4);
  // background-color: $warning;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: $size;

  &.on {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48Y2lyY2xlIGN4PSIyNTYiIGN5PSIyNTYiIHI9IjI1NiIgZmlsbD0iI2UwNGY1ZiIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xMTkuNjggMjQwaDI3MnYzMmgtMjcyeiIvPjwvc3ZnPg==");
  }

  &.off {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48Y2lyY2xlIGN4PSIyNTYiIGN5PSIyNTYiIHI9IjI1NiIgZmlsbD0iIzI1YjZkMiIvPjxnIGZpbGw9IiNmZmYiPjxwYXRoIGQ9Ik0yNDAgMTIwaDMydjI3MmgtMzJ6Ii8+PHBhdGggZD0iTTEyMCAyNDBoMjcydjMySDEyMHoiLz48L2c+PC9zdmc+");
  }
}
